/* ------------------------------ */
/* Police comics et fond global   */
/* ------------------------------ */
body {
  font-family: 'Bangers', cursive;
  background-image: url("images/children.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  /* height et overflow retirés pour éviter bugs mobile */
}

/* ------------------------------ */
/* Titre                         */
/* -*
